<div class="flex">
  <aside class="bg-gray-800 text-gray-200 w-1/5 h-screen p-4">
    <ul class="space-y-4 uppercase">
      <li>
        <a
          href="#"
          class="block py-2 px-4 font-semibold text-blue-500 hover:text-blue-600"
        >
          <fa-icon class="mr-2" [icon]="faHome"></fa-icon> Trang chủ
        </a>
      </li>
      <li>
        <a
          href="/admin/products"
          class="block py-2 px-4 font-semibold text-gray-300 hover:text-white"
        >
          <fa-icon class="mr-2" [icon]="faBoxIcon"></fa-icon> Sản phẩm
        </a>
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 font-semibold text-gray-300 hover:text-white"
        >
          <fa-icon class="mr-2" [icon]="faShoppingCart"></fa-icon> Đơn hàng
        </a>
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 font-semibold text-gray-300 hover:text-white"
        >
          <fa-icon class="mr-2" [icon]="faUserPlus"></fa-icon> Người dùng
        </a>
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 font-semibold text-gray-300 hover:text-white"
        >
          <fa-icon class="mr-2" [icon]="faCog"></fa-icon>
          Cài đặt
        </a>
      </li>
    </ul>
  </aside>
  <div class="w-3/4 px-4">
    <router-outlet />
  </div>
</div>
