<body>
  <main class="flex flex-col items-center mt-24">
    <form [formGroup]="formSignin" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <h1 class="text-lg mb-3 font-normal" routerLink="/user/login">
            Sign Up
          </h1>
        </div>
        <div>
          <h1
            class="text-lg mb-3 font-normal bg-aqua-500 py-1 px-2 rounded"
            routerLink="/user/signin"
          >
            Sign in
          </h1>
        </div>
      </div>
      <div class="relative mb-4">
        <input
          class="block w-full bg-white border border-gray-300 rounded-md px-4 py-2"
          type="email"
          id="email"
          placeholder="name@example.com"
          formControlName="email"
        />
        <div
          class="error"
          *ngIf="
            formSignin.get('email')?.hasError('required') &&
            (formSignin.get('email')?.touched || formSignin.get('email')?.dirty)
          "
        >
          <span class="text-red-500">Email is required</span>
        </div>
        <div
          class="error"
          *ngIf="
            formSignin.get('email')?.hasError('email') &&
            (formSignin.get('email')?.touched || formSignin.get('email')?.dirty)
          "
        >
          <span class="text-red-500">Invalid email format</span>
        </div>
        <label for="email">Email address</label>
      </div>

      <div class="relative mb-4">
        <input
          class="block w-full bg-white border border-gray-300 rounded-md px-4 py-2"
          type="password"
          id="password"
          placeholder="Password"
          formControlName="password"
        />
        <div
          class="error"
          *ngIf="
            formSignin.get('password')?.hasError('required') &&
            (formSignin.get('password')?.touched ||
              formSignin.get('password')?.dirty)
          "
        >
          <span class="text-red-500">Password is required</span>
        </div>
        <div
          class="error"
          *ngIf="
            formSignin.get('password')?.hasError('minlength') &&
            (formSignin.get('password')?.touched ||
              formSignin.get('password')?.dirty)
          "
        >
          <span class="text-red-500">
            Password must be at least 6 characters long
          </span>
        </div>
        <label for="password">Password</label>
      </div>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full"
        type="submit"
        [disabled]="formSignin.invalid"
      >
        Sign in
      </button>
    </form>
  </main>
</body>
