<header
  class="fixed bg-gray-800 text-white top-0 inset-x-0 z-10 shadow-md transition transform duration-300 ease-in-out"
  id="header"
>
  <div
    class="container mx-auto px-4 py-6 flex items-center justify-between gap-6"
  >
    <div class="logo"><p class="text-3xl uppercase">Logo</p></div>
    <div class="search-bar w-full flex items-center justify-center">
      <input
        placeholder="Search"
        class="rounded-l-lg py-2 px-10 w-full mr-0 border-b border-l text-gray-800 border-gray-200 bg-white"
        type="text"
        placeholder="Tìm kiếm..."
      />
      <button
        class="px-4 py-[0.53rem] bg-gray-800 text-white font-bold rounded-r-lg w-20 border-gray-700 border-t border-b border-r"
      >
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
    <div class="btn btn-user flex items-center gap-4">
      <button
        routerLink="/user/login"
        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-10 rounded-md shadow"
      >
        <fa-icon [icon]="faUserPlus"></fa-icon>
      </button>

      <button
        routerLink="/user/register"
        class="bg-gray-700 hover:bg-gray-800 text-white py-2 px-10 rounded-md shadow"
      >
        <fa-icon [icon]="faSignInAlt"></fa-icon>
      </button>
    </div>
  </div>
</header>
