<!-- <div class="container mx-auto">
  <div class="grid grid-cols-3">
    <div
      class="items items-center flex flex-col justify-center border border-black-500 rounded"
    >
      <h2>{{ student.name }}</h2>
      <img src="{{ student.imageUrl }}" alt="" />
      <p>{{ student.status ? "còn đi học" : "đã nghỉ học" }}</p>
    </div>
    <div
      class="items items-center flex flex-col justify-center border border-black-500 rounded"
    >
      <h2>{{ student.name }}</h2>
      <img src="{{ student.imageUrl }}" alt="" />
      <p>{{ student.status ? "còn đi học" : "đã nghỉ học" }}</p>
    </div>
    <div
      class="items items-center flex flex-col justify-center border border-black-500 rounded"
    >
      <h2>{{ student.name }}</h2>
      <img src="{{ student.imageUrl }}" alt="" />
      <p>{{ student.status ? "còn đi học" : "đã nghỉ học" }}</p>
    </div>
  </div>
  <div class="change flex gap-2 items-center">
    <input
      type="text"
      class="border border-black-500 rounded"
      (input)="onHandleChange($event)"
    />
    <button
      class="bg-blue-500 p-2 rounded text-white"
      (click)="setName('8x8Dhip')"
    >
      Set name
    </button>
  </div>
  <input type="text" [(ngModel)]="student.name" />
</div> -->
<!-- <app-products /> -->
<router-outlet />
